main section#panel #panel-interface #panel-content section#add #add-title p, main section#panel #panel-interface #panel-content section#center #center-content .center .center-text p, main section#panel #panel-interface #panel-content #panel-stats .stat .stat-text p, main section#panel #panel-aside #panel-logout button p, main section#panel #panel-aside #panel-menu nav ul li p, main section#login #login-content #login-title p, main section#response #response-content #response-title p, #success .container #success-content #success-title p, #success .container #success-content #error-title p, #success .container #error-content #success-title p, #success .container #error-content #error-title p, #error .container #success-content #success-title p, #error .container #success-content #error-title p, #error .container #error-content #success-title p, #error .container #error-content #error-title p, #loading #loading-template button {
  font-size: 1.6rem;
  font-weight: 600;
  color: #999CAD;
  line-height: 1.3;
  font-family: "Quicksand", sans-serif;
}

main section#panel #panel-interface #panel-content section#add #add-content #add-submit, main section#panel #panel-interface #panel-content section#center #center-content .center .center-buttons button, main section#panel #panel-interface #panel-content section#center #center-content .center .center-buttons a, main section#panel #panel-interface #panel-content section#center #center-title button, main section#login #login-content #login-content #login-submit, main section#response #response-button button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
  background-color: #960E12;
  border: 0.4rem solid #A6151C;
  border-radius: 1rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  color: #FFF;
  transition: background-color 0.3s ease;
}
main section#panel #panel-interface #panel-content section#add #add-content #add-submit:hover, main section#panel #panel-interface #panel-content section#center #center-content .center .center-buttons button:hover, main section#panel #panel-interface #panel-content section#center #center-content .center .center-buttons a:hover, main section#panel #panel-interface #panel-content section#center #center-title button:hover, main section#login #login-content #login-content #login-submit:hover, main section#response #response-button button:hover {
  background-color: #A6151C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 10px;
}

/*#region Main Codes*/
#loading {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EFF2F9;
}
#loading #loading-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#loading #loading-logo img {
  width: 17.5rem;
  margin-bottom: 5rem;
}
#loading #loading-logo i {
  font-size: 3.5rem;
  color: #2A3245;
}
#loading #loading-template {
  display: none;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
}
#loading #loading-template button {
  border: none;
}
#loading #loading-template button:hover b {
  color: #A6151C;
}
#loading #loading-template button b {
  font-weight: 700;
  color: #2A3245;
  font-family: "Montserrat", sans-serif;
  transition: color 0.3s ease;
}

#success, #error {
  z-index: 101;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #EFF2F9;
  display: none;
}
#success .container, #error .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#success .container #success-content, #success .container #error-content, #error .container #success-content, #error .container #error-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#success .container #success-content #success-icon, #success .container #success-content #error-icon, #success .container #error-content #success-icon, #success .container #error-content #error-icon, #error .container #success-content #success-icon, #error .container #success-content #error-icon, #error .container #error-content #success-icon, #error .container #error-content #error-icon {
  width: 21.5rem;
  height: 21.5rem;
  margin-bottom: 2.5rem;
  border-radius: 50%;
  border: 1.5rem solid #BD2325;
  background-color: #A6151C;
  display: flex;
  justify-content: center;
  align-items: center;
}
#success .container #success-content #success-icon #icon-content, #success .container #success-content #error-icon #icon-content, #success .container #error-content #success-icon #icon-content, #success .container #error-content #error-icon #icon-content, #error .container #success-content #success-icon #icon-content, #error .container #success-content #error-icon #icon-content, #error .container #error-content #success-icon #icon-content, #error .container #error-content #error-icon #icon-content {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #960E12;
}
#success .container #success-content #success-icon #icon-content i, #success .container #success-content #error-icon #icon-content i, #success .container #error-content #success-icon #icon-content i, #success .container #error-content #error-icon #icon-content i, #error .container #success-content #success-icon #icon-content i, #error .container #success-content #error-icon #icon-content i, #error .container #error-content #success-icon #icon-content i, #error .container #error-content #error-icon #icon-content i {
  font-size: 10rem;
  color: #FFF;
}
#success .container #success-content #success-title, #success .container #success-content #error-title, #success .container #error-content #success-title, #success .container #error-content #error-title, #error .container #success-content #success-title, #error .container #success-content #error-title, #error .container #error-content #success-title, #error .container #error-content #error-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#success .container #success-content #success-title h1, #success .container #success-content #error-title h1, #success .container #error-content #success-title h1, #success .container #error-content #error-title h1, #error .container #success-content #success-title h1, #error .container #success-content #error-title h1, #error .container #error-content #success-title h1, #error .container #error-content #error-title h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #2A3245;
  line-height: 1.3;
  margin-bottom: 0.5rem;
}
main {
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-color: #EFF2F9;
}
main section#response {
  padding: 3rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section#response #response-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
main section#response #response-content #response-icon {
  width: 21.5rem;
  height: 21.5rem;
  margin-bottom: 2.5rem;
  border-radius: 50%;
  border: 1.5rem solid #BD2325;
  background-color: #A6151C;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section#response #response-content #response-icon #icon-content {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #960E12;
}
main section#response #response-content #response-icon #icon-content i {
  font-size: 10rem;
  color: #FFF;
}
main section#response #response-content #response-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
main section#response #response-content #response-title h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #2A3245;
  line-height: 1.3;
  margin-bottom: 0.5rem;
}
main section#response #response-button {
  position: absolute;
  bottom: 0;
  left: 3rem;
  bottom: 3rem;
  width: calc(100% - 6rem);
}
main section#login {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section#login #login-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background-color: #A6151C;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section#login #login-header img {
  width: 17.5rem;
}
main section#login #login-content {
  padding: 3rem;
  border-radius: 1rem;
  background-color: #FFF;
}
main section#login #login-content #login-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
main section#login #login-content #login-title h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #2A3245;
  line-height: 1.3;
  margin-bottom: 0.5rem;
}
main section#login #login-content #login-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  align-items: center;
  gap: 2rem;
}
main section#login #login-content #login-content .login-control {
  width: 100%;
}
main section#login #login-content #login-content .login-control label {
  font-size: 1.4rem;
  font-weight: 700;
  color: #2A3245;
}
main section#login #login-content #login-content .login-control input {
  width: 100%;
  border: 0.2rem solid #EFF2F9;
  outline: none;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  font-weight: 500;
  color: #2A3245;
  margin-top: 1rem;
  transition: border-color 0.3s ease;
}
main section#login #login-content #login-content .login-control input:placeholder {
  color: #999CAD;
  font-weight: 400;
}
main section#login #login-content #login-content .login-control input:hover {
  border-color: #A6151C;
}
main section#login #login-content #login-content p {
  font-size: 1.4rem;
  font-weight: 600;
  color: #960E12;
  display: none;
}
main section#login #login-content #login-content #login-submit {
  cursor: pointer;
  transition: opacity 0.3s ease;
}
main section#login #login-content #login-content #login-submit[disabled] {
  cursor: default;
  opacity: 0.4;
}
main section#panel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
main section#panel #panel-aside {
  width: 30rem;
  padding: 3rem;
  background-color: #FFF;
  border-right: 0.1rem solid rgba(153, 156, 173, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main section#panel #panel-aside #panel-logo {
  width: 100%;
  padding-bottom: 2.5rem;
  border-bottom: 0.1rem solid rgba(153, 156, 173, 0.25);
}
main section#panel #panel-aside #panel-logo img {
  width: 17.5rem;
}
main section#panel #panel-aside #panel-menu nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main section#panel #panel-aside #panel-menu nav ul li {
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 0.3s ease;
}
main section#panel #panel-aside #panel-menu nav ul li:last-child {
  margin-bottom: 0;
}
main section#panel #panel-aside #panel-menu nav ul li:hover .icon {
  background-color: #A6151C;
}
main section#panel #panel-aside #panel-menu nav ul li:hover .icon i {
  color: #FFF;
  opacity: 1;
}
main section#panel #panel-aside #panel-menu nav ul li.active {
  background-color: rgba(255, 88, 96, 0.2);
}
main section#panel #panel-aside #panel-menu nav ul li.active .icon {
  background-color: #A6151C;
}
main section#panel #panel-aside #panel-menu nav ul li.active .icon i {
  color: #FFF;
  opacity: 1;
}
main section#panel #panel-aside #panel-menu nav ul li.active p {
  color: #A6151C;
  font-weight: 700;
}
main section#panel #panel-aside #panel-menu nav ul li .icon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #EFF2F9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  transition: background-color 0.3s ease;
}
main section#panel #panel-aside #panel-menu nav ul li .icon i {
  font-size: 1.5rem;
  color: #2A3245;
  opacity: 0.4;
  transition-property: opacity, color;
  transition: 0.3s ease;
}
main section#panel #panel-aside #panel-logout button {
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 0.3s ease;
}
main section#panel #panel-aside #panel-logout button:hover .icon {
  background-color: #A6151C;
}
main section#panel #panel-aside #panel-logout button:hover .icon i {
  color: #FFF;
  opacity: 1;
}
main section#panel #panel-aside #panel-logout button .icon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #EFF2F9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  transition: background-color 0.3s ease;
}
main section#panel #panel-aside #panel-logout button .icon i {
  font-size: 1.5rem;
  color: #2A3245;
  opacity: 0.4;
  transition-property: opacity, color;
  transition: 0.3s ease;
}
main section#panel #panel-interface {
  width: calc(100% - 30rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section#panel #panel-interface #panel-title {
  width: 100%;
  padding: 0 3rem;
  flex-shrink: 0;
  height: 8rem;
  background-color: #FFF;
  border-bottom: 0.1rem solid rgba(153, 156, 173, 0.25);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main section#panel #panel-interface #panel-title h3 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #2A3245;
  line-height: 1.3;
}
main section#panel #panel-interface #panel-content {
  position: relative;
  width: 100%;
  height: calc(100% - 8rem);
  padding: 3rem;
}
main section#panel #panel-interface #panel-content #panel-stats {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-bottom: 3rem;
}
main section#panel #panel-interface #panel-content #panel-stats .stat {
  padding: 3rem;
  border-radius: 1rem;
  background-color: #FFF;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main section#panel #panel-interface #panel-content #panel-stats .stat .stat-icon {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #960E12;
  border: 0.6rem solid #A6151C;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}
main section#panel #panel-interface #panel-content #panel-stats .stat .stat-icon i {
  font-size: 2.8rem;
  color: #FFF;
}
main section#panel #panel-interface #panel-content #panel-stats .stat .stat-text h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #2A3245;
  line-height: 1.3;
}
main section#panel #panel-interface #panel-content #panel-graph h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #2A3245;
}
main section#panel #panel-interface #panel-content section#center {
  height: 100%;
}
main section#panel #panel-interface #panel-content section#center #center-title {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-bottom: 3rem;
}
main section#panel #panel-interface #panel-content section#center #center-title h1 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #2A3245;
}
main section#panel #panel-interface #panel-content section#center #center-title button {
  cursor: pointer;
  padding: 1.25rem 3rem;
}
main section#panel #panel-interface #panel-content section#center #center-content {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0 1rem 6rem 0;
  overflow: scroll;
}
main section#panel #panel-interface #panel-content section#center #center-content::-webkit-scrollbar {
  width: 0.5rem;
}
main section#panel #panel-interface #panel-content section#center #center-content::-webkit-scrollbar-thumb {
  background-color: #A6151C;
  border-radius: 2rem;
}
main section#panel #panel-interface #panel-content section#center #center-content .center {
  padding: 2rem;
  border-radius: 1rem;
  background-color: #FFF;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
main section#panel #panel-interface #panel-content section#center #center-content .center .center-icon {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #960E12;
  border: 0.6rem solid #A6151C;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}
main section#panel #panel-interface #panel-content section#center #center-content .center .center-text h3 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #2A3245;
  margin-bottom: 0.25rem;
}
main section#panel #panel-interface #panel-content section#center #center-content .center .center-buttons {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
main section#panel #panel-interface #panel-content section#center #center-content .center .center-buttons button, main section#panel #panel-interface #panel-content section#center #center-content .center .center-buttons a {
  text-transform: capitalize;
  cursor: pointer;
  margin-left: 1.25rem;
  width: initial;
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main section#panel #panel-interface #panel-content section#center #center-content .center .center-buttons button i, main section#panel #panel-interface #panel-content section#center #center-content .center .center-buttons a i {
  font-size: 1.6rem;
  color: #FFF;
  margin-right: 1rem;
}
main section#panel #panel-interface #panel-content section#center #center-content .center .center-buttons a {
  margin-left: 0;
}
main section#panel #panel-interface #panel-content section#add {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  border-radius: 1rem;
  background-color: #FFF;
  z-index: 5;
}
main section#panel #panel-interface #panel-content section#add #add-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}
main section#panel #panel-interface #panel-content section#add #add-title h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #2A3245;
  line-height: 1.3;
  margin-bottom: 0.5rem;
}
main section#panel #panel-interface #panel-content section#add #add-content {
  width: 60rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  align-items: flex-end;
  gap: 2rem;
}
main section#panel #panel-interface #panel-content section#add #add-content .add-control.fluid {
  grid-column: span 2;
}
main section#panel #panel-interface #panel-content section#add #add-content .add-control label {
  font-size: 1.4rem;
  font-weight: 700;
  color: #2A3245;
}
main section#panel #panel-interface #panel-content section#add #add-content .add-control input, main section#panel #panel-interface #panel-content section#add #add-content .add-control select {
  width: 100%;
  border: 0.2rem solid #EFF2F9;
  outline: none;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  font-weight: 500;
  color: #2A3245;
  margin-top: 1rem;
  transition: border-color 0.3s ease;
}
main section#panel #panel-interface #panel-content section#add #add-content .add-control input:placeholder, main section#panel #panel-interface #panel-content section#add #add-content .add-control select:placeholder {
  color: #999CAD;
  font-weight: 400;
}
main section#panel #panel-interface #panel-content section#add #add-content .add-control input:hover, main section#panel #panel-interface #panel-content section#add #add-content .add-control select:hover {
  border-color: #A6151C;
}
main section#panel #panel-interface #panel-content section#add #add-content #add-submit {
  cursor: pointer;
  grid-column: 2/span 1;
}

#container {
  height: 40rem;
}

.highcharts-figure,
.highcharts-data-table table {
  max-width: 100%;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #999CAD;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

/*#endregion*/
/*#region Responsive Codes*/
@media screen and (max-width: 425px) {
  html {
    font-size: 9.75px;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 9.5px;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 9.25px;
  }
}
@media screen and (max-width: 350px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 325px) {
  html {
    font-size: 8.75px;
  }
}
/*#endregion*/
/*#region Chart CSS*/
.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #fff;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #fff;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

.highcharts-yaxis .highcharts-axis-line {
  stroke-width: 2px;
}

.highcharts-color-0 {
  fill: #A6151C;
  stroke: #A6151C;
}

.highcharts-axis.highcharts-color-0 .highcharts-axis-line {
  stroke: #7cb5ec;
}

.highcharts-axis.highcharts-color-0 text {
  fill: #fff;
}

.highcharts-color-1 {
  fill: #FF8C92;
  stroke: #FF8C92;
}

.highcharts-axis.highcharts-color-1 .highcharts-axis-line {
  stroke: #90ed7d;
}

.highcharts-axis.highcharts-color-1 text {
  fill: #90ed7d;
}

/*#endregion*//*# sourceMappingURL=style.css.map */